<div class="wrapper">
  <div class="section-dark" style="background-color: #f5f5f5">
    <div class="content-center container">
      <div class="row">
        <div class="col-md-2"></div>
        <form class="form-horizontal col-md-8">
          <fieldset>

            <!-- Form Name -->
            <legend>Preencha seus dados!</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="nome">Nome</label>
              <div class="col-md-12">
                <input id="nome" [(ngModel)]='reserva.nome' name="nome" type="text" placeholder="Nome" class="form-control input-md" required="true">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="email">Email</label>
              <div class="col-md-12">
                <input id="email" name="email" [(ngModel)]='reserva.email' [ngModelOptions]="{standalone: true}" type="text" placeholder="Email" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="telefone">Telefone</label>
              <div class="col-md-12">
                <input id="telefone" [(ngModel)]='reserva.telefone' [ngModelOptions]="{standalone: true}" name="telefone" type="text" placeholder="Telefone" class="form-control input-md" required="true">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label" for="telefone">Qtd. de Pessoas</label>
              <div class="col-md-2">
                <input id="telefone" [(ngModel)]='reserva.qtdPessoas' [ngModelOptions]="{standalone: true}" type="number" placeholder="0" class="form-control input-md" required="true">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-12 control-label" for="telefone">Você se importa que o chefe junte-se na receição?</label>
              <div class="col-md-12">
                  <div class="form-check-radio">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="true" (change)='reserva.chefeJunto=$event.srcElement.value' >
                        Não
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                    <div class="form-check-radio">
                        <label class="form-check-label">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="false" (change)='reserva.chefeJunto=$event.srcElement.value' >
                          Sim
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
              </div>
            </div>
            <div class="form-group">
                <label class="col-md-12 control-label" for="comentario">Deixe um comentário para o chefe!</label>
                <div class="col-md-12">
                    <input id="nome" [(ngModel)]='reserva.comentario' name="comentario" type="text" placeholder="Comentario" class="form-control input-md">
                </div>
              </div>
            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="confirmar"></label>
              <div class="col-md-4">
                <button id="confirmar" (click)='confirmarReserva(swalSuccess,swalError)' name="confirmar" class="btn btn-success">Confirmar</button>
              </div>
            </div>

          </fieldset>
        </form>
        <div class="col-md-2"></div>
      </div>

    </div>
  </div>
  <swal #swalSuccess title="Reserva realizada com sucesso!" text="Muito obrigado por escolher o Appeatit! Aguarde que entraremos contato com você em um prazo de 12 horas para confirmarmos realmente sua reserva e para passarmos os dados completos sobre o chefe que você escolheu! Esperamos que você tenha uma ótima experiência gastronômica!" type="success"></swal>
  <swal #swalError title="Atenção!" text="Preencha todos os campos." type="error"></swal>
</div>