<div class="wrapper">
    <div class="page-header section-dark" style="background-color: #4a0c09">
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">APP<span style="color: yellow">EAT</span>IT</h1>
                </div>
                <h2 class="presentation-subtitle text-center">Experiência pra quem come, oportunidade pra quem cozinha.</h2>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="section container">
            <h2>Sobre a Appeatit</h2>
            <p>Acreditamos que as pessoas querem ter experiências genuínas quando viajam. E desfrutar de refeições preparadas por moradores locais é a melhor maneira de ter uma experiência profunda que se expande além dos limites turísticos habituais. Sabendo que muitas pessoas sonham em se tornar chefs de renome e entender sua vontade de mostrar seus talentos, Appeatit decide conectar esses dois tipos de pessoas.</p>
        </div>
        <div class="section container">
            <div class="row">
                <div class="col-md-4 mr-auto ml-auto" style="word-wrap: break-word;">
                    <img src="assets/img/chef.jpg" class="img-rounded img-responsive" alt="Rounded Image" width="360" height="202.5">
                    <div class="description">
                        <h4 class="title">SEJA UM CHEFE</h4>
                        <p style="color:black;">Se gosta de cozinhar e mostrar sua culinária para outras pessoas, seja um Chefe do AppEATit. Compartilhe sua paixão pela gastronomia promovendo uma nova experiência para seus convidados que viajam o mundo.</p>
                    </div>
                </div>
                <div class="col-md-4 mr-auto ml-auto" style="word-wrap: break-word;">
                    <img src="assets/img/be_guest.jpg" class="img-rounded img-responsive" alt="Rounded Image" width="360" height="202.5">
                    <h4 class="title">SEJA UM CONVIDADO</h4>
                    <p style="color:black;">Está viajando e quer prova a comida local? Com o AppEATit você e seus amigos conseguem ter uma experiência com um Chefe real e ainda por cima conhecendo um pouco da história local.</p>
                </div>
                <div class="col-md-4 mr-auto ml-auto" style="word-wrap: break-word;">
                    <img src="assets/img/hire_chef.jpg" class="img-rounded img-responsive" alt="Rounded Image" width="360" height="202.5">
                    <h4 class="title">CONTRATE UM CHEFE</h4>
                    <p style="color:black;">Gostou da culinária e do cardápio de algum Chefe do AppEATit? Contrate esse Chefe para ir até sua casa ou evento que está organizando.</p>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container text-center">
                <a [routerLink]="['/cardapio']">
                    <button class="btn btn-danger btn-round">Verifique o cardápio</button>
                </a>
            </div>
        </div>
    </div>
</div>